torch>=2.0.0
torchvision
accelerate>=0.34.0
diffusers>=0.31.0
transformers>=4.45.0
xformers
Pillow>=10.0.0
numpy==2.0.2
safetensors>=0.4.5
matplotlib
# Optional: Required for TensorRT acceleration
onnxruntime-gpu>=1.19.0
tensorrt>=10.0.0
